body{
	font-family: arial;
	font-size: 12px;
	color: rgba(29, 91, 219, 0.8);
	background: white;
	margin: 0px;
	margin-top: 102px;
}

#container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding: 10px auto;
}

/* header website */
#container #header {
	color: white;
	background: rgba(29, 91, 219, 0.8);
	padding: 0px 0px;
	overflow: hidden;
	font-size: 14px;
	position: fixed;
	z-index: 100;
	top: 0px;
	width: 100%;
}

#container #header a{
    text-decoration: none;
    margin-right: 10px;
}


/* logo */
#container #header #logo {
    width: 200px;
		height: 75px;
    margin: 10px auto;
    margin-left: 20px;
}


/* tombol cari */
#tombol-cari img {
    background: orange;
    border: 2px white solid;
    padding: 3px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

/* kolom input pencarian */
#container #header input[name="cari"] {
	width: 500px;
    height: 28px;
    border: none;
    margin-bottom: 3px;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

/* tombol keranjang */
#tombol-keranjang img{
	vertical-align: bottom;
	position: relative;
}
#tombol-keranjang {
    background: orange;
    padding: 3px 10px;
    border-radius: 5px;
    border: 2px orange solid;

}

#tombol-keranjang:hover{
    border: 2px white solid;
}

.total-barang{
	text-decoration: none;
	font-size: 10px;
	color: white;
	font-weight: bold;
	vertical-align: top;
	position: absolute;
}

/* tombol login */
#container #header #login{
	color: white;
}

#container #header #login:hover{
	color: orange;
}

/* tombol daftar */
#container #header #daftar {
    background: white;
    color: rgba(29, 91, 219, 0.8);
    padding: 3px 8px;
    font-size: 14px;
    border: 2px white solid;
    border-radius: 5px
}

#container #header #daftar:hover {
    color: white;
    background: orange;
}

/*content website*/
#container #content {
    padding: 10px 0px;
    overflow: hidden;
}

/*footer website*/
#container #footer {
		float:right;
		width: 100%;
		background: rgba(29, 91, 219, 0.8);
    padding: 10px;
}

#container #footer p {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 0px;
}

/*form daftar & login*/

#container-user-akses {
  width: 350px;
  height: auto;
  margin: 50px auto;
  border-radius: 5px;
  padding: 50px;
  background: #F7F7F7;
	color: rgba(29, 91, 219, 0.8);
	border: 5px rgba(29, 91, 219, 0.8) solid;
}

.element-form {
  margin-bottom: 15px;
}

.element-form label {
  display: block;
  font-weight: bold;

}
.element-form span {
  display: block;
}

.element-form h1{
	font-family: Agency FB;
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select{
  border:none;
  border-bottom: 2px rgba(29, 91, 219, 0.8) solid;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background: #FFF;
}

/*tombol daftar form daftar & login*/
.element-form span input[type="submit"] {
	background: orange;
	color: white;
	padding: 6px 15px;
	font-size: 14px;
	font-weight: bold;
	border: 2px orange solid;
	border-radius: 5px;
	cursor: pointer;
	width: 350px;
}
/*tombol add*/
.element-form span input[value="Add"],
.element-form span input[value="Update"] {
	background: orange;
	color: white;
	padding: 6px 15px;
	font-size: 14px;
	font-weight: bold;
	border: 2px orange solid;
	border-radius: 5px;
	cursor: pointer;
	width: 100px;
}

.element-form span input[type="submit"]:hover {
background: white;
border: 2px orange solid;
color: orange;

}

/*notifikasi form daftar & login*/
.notif {
  background: red;
  color: white;
  padding: 10px;
  font-size: 11px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#bg-page-profile {
  overflow: hidden;
}

/* menu profile*/
#menu-profile {
  float: left;
  width: 15%;
}

#menu-profile ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu-profile ul li {
	margin-bottom: 5px;
	background: rgba(29, 91, 219, 0.8);
	border: 2px rgba(29, 91, 219, 0.8) solid;
	border-radius: 5px;
	}

#menu-profile ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
  background: #F7F7F7;
  color: rgba(29, 91, 219, 0.8);
}

/* content profile*/
#profile-content {
  float: left;
  width: 82%;
  padding: 10px;
  background: #F7F7F7;
  margin-left: 10px;
	color: rgba(29, 91, 219, 0.8);
}

.table-list {
  width: 100%;
  border-collapse: collapse;
}

.table-list tr{
	border-bottom: 1px rgba(29, 91, 219, 0.8) solid;
}

.table-list tr.baris-title {
  background: rgba(29, 91, 219, 0.8);
	color: white;
}

.table-list tr th,
.table-list tr td {
  padding: 10px 7px;
}

.kolom-nomor {
  width: 20px;
  text-align: center;
}

.kiri {
  text-align: left;
}

.tengah {
  text-align: center;
}

.kanan {
  text-align: right;
}

#frame-tambah {
  margin-bottom: 10px;
  text-align: right;
}

.tombol-action {
  border: 2px orange solid;
  background: orange;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 3px;
  font-size: 9px;
}

.tombol-action:hover {
  border: 2px orange solid;
  background: white;
  color: orange;
}

.element-form span input[name="nama_kategori"],
.element-form span select[name="id_kategori"],
.element-form span input[name="nama_barang"],
.element-form span textarea[name="spesifikasi"],
.element-form span input[name="stok"],
.element-form span input[name="harga"]{
  border: 2px rgba(29, 91, 219, 0.8) solid;
  margin: 10px auto;
  border-radius: 5px;
}

#kiri {
  width: 15%;
  height: auto;
  float: left;
}
#menu-kategori ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu-kategori ul li {
  margin-bottom: 5px;
}
#menu-kategori ul li a {
  display: block;
  padding: 10px;
  background:rgba(29, 91, 219, 0.8);
  color: white;
  text-decoration: none;
  border: 2px rgba(29, 91, 219, 0.8) solid;
  border-radius: 5px;
}
#menu-kategori ul li a:hover {
  background: white;
	color: rgba(29, 91, 219, 0.8);
}

#kanan {
  width: 82%;
  margin-left: 15px;
  height: auto;
  float: left;
	color: rgba(29, 91, 219, 0.8);
}

#kanan #frame-barang ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#kanan #frame-barang ul li {
  width: 240px;
  background: rgba(29, 91, 219, 0.8);
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  float: left;
}
#kanan #frame-barang ul li .price {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
	color: orange;
}

#kanan #frame-barang ul li a img {
  display: block;
  width: 240px;
	height: 240px;
	margin-bottom: 10px;
}
#kanan #frame-barang ul li .keterangan-gambar {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 10px 0px;
  height: 50px;
}
#kanan #frame-barang ul li .keterangan-gambar p {
  text-align: center;
  margin: 5px 0px;
	color: white;
}
#kanan #frame-barang ul li .keterangan-gambar p a {
  font-weight: bold;
  text-decoration: none;
	color: white;
}
#kanan #frame-barang ul li .keterangan-gambar span {
  display: block;
  text-align: center;
}
#kanan #frame-barang ul li .button-add-cart {
  text-align: center;
}
#kanan #frame-barang ul li .button-add-cart a {
  background: orange;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  border: 2px orange solid;
  border-radius: 3px;
}
#kanan #frame-barang ul li .button-add-cart a:hover {
  background: white;
	color: orange;
}

#detail-bar
{
  background: white;
  padding: 15px;
}

#detail-barang
h2{
  margin-top: 0px;
}

#detail-barang #frame-gambar
{
  background: #FBFBFB;
  padding: 20px;
}

#detail-barang #frame-gambar img
{
  display: block;
  margin:0px auto;
}

#detail-barang #frame-harga
{
  margin: 15px 0px;
}

#detail-barang #frame-harga span
{
  font-size: 15px;
  font-weight: bold;
  color: red;
}

#detail-barang #frame-harga a
{
	background: orange;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	border: 2px orange solid;
	border-radius: 3px;
	float: right;
}

#detail-barang #frame-harga a:hover
{
  background: white;
	color: orange;
}

#detail-barang #keterangan
{
  margin:20px 0px;
}

.update-quantity{
	width: 30px;
	text-align: center;
}

.kanan.hapus_item {
	position: relative;
}

.kanan.hapus_item a{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	text-decoration: none;
	color: white;
	background: red;


}

#frame-button-keranjang a{
	text-align: center;
	width: 150px;
	border : 2px rgba(29, 91, 219, 0.8) solid;
	border-radius: 5px;
	background: rgba(29, 91, 219, 0.8);
	color: white;
	text-decoration: none;
	padding: 7px 20px;
	display: inline-block;
	margin: 15px 5px;
	margin-bottom: 0px;
}

#frame-button-keranjang a:hover{
	background: white;
	color: rgba(29, 91, 219, 0.8);
}

#lanjut-belanja{
	float: left;
}

#lanjut-pemesanan{
	float: right;
}

#frame-data-pengiriman {
	float: left;
	width: 500px;
	margin-right: 20px;
	margin-left: 10px;
}

#frame-data-detail {
	float: left;
	width: 560px;
}

#frame-detail-order {
	border: 1px solid grey;
}

#frame-form-pengiriman {
	border: 1px solid grey;
	padding: 25px;
}

h3.label-data-pengiriman {
	border: 1px solid grey;
	padding: 10px 7px;
	margin: 0px;
}